extends jade/layouts/main

append styles
	+style('/slider.css')

append scripts
	+script('/d3.slider.js')
	+script('/ezgraph.js')

block title
	title Home

block header
	header
		.container
			h1.text-center Tier Comparison

block main

	.row
		.col-sm-6
			#pro-graph
			h1.text-center Pro
		.col-sm-6
			#casual-graph
			h1.text-center Casual

	.container
		#timeslot-slider(style="width: 800px; margin: 30px auto")

		select#style-dropdown.form-control(style="display: block; width: 200px; margin: 0 auto;")

	+script('/index.js')

block footer