extends jade/layouts/main

append scripts
	+script('/d3.slider.js')
	+style('/slider.css')

block title
	title Match Explorer

block header
	header
		.container
			h1.text-center Match Explorer

block main

	#heatmap

	.container
		#timeslot-slider(style="width: 800px; margin: 30px auto")

		select#matches-dropdown.form-control(style="display: block; width: 200px; margin: 0 auto;")

		p
			strong Tier:&nbsp;
			span#tier

		p
			strong Winner:&nbsp;
			span#winner

	+script('/match-explorer.js')