include ../mixins/style
include ../mixins/script

doctype html
html
	head
		block title
			title Default Title
		block styles
			+style("/bootstrap/bootstrap.css")
			+style("/ubuntu/ubuntu.css")
			+style("/dv.css")
		block scripts
			+script("/jquery/jquery.js")
			+script("/bootstrap/bootstrap.js")
			+script("/d3/d3.js")
		body
			block header
				header
					p Body Header
			block main
				main
					header
						h1 Main Header
					p Main Content
			block footer
				footer
					p Body Footer
